<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

  <!--nav-->
  <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>

  <!--content-->
  <div  class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">

      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui rounded image">
          </div>
        </div>
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">About me</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">Shawn, A developer </p>
            <p class="m-text">Love Learning, Love Math</p>
          </div>
          <div class="ui attached segment">
            <div class="ui orange basic left pointing label">programming</div>
            <div class="ui orange basic left pointing label">writing</div>
            <div class="ui orange basic left pointing label">Thinking</div>

          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Angular</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Typescript</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">HTML</div>

          </div>
          <div class="ui bottom attached segment">
            <a target="_blank" href="https://github.com/lazerta"  class="ui circular icon button"><i class="github icon"></i></a>

            <a target="_blank" href="https://www.linkedin.com/in/xiang-lin-175887130/" class="ui  circular icon button" data-content="follow me on linkedin" data-position="bottom center"><i class="linkedin icon"></i></a>
          </div>

          <div class="ui github flowing popup transition hidden">
            <img src="../static/images/github.png" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>

    </div>
  </div>

  <br>
  <br>

  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">


  </footer>
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'bottom center'
    });


  </script>
</body>
</html>
